#div1{
  text-align: center;
}

#sub{
  background-color: white;
}
#file{
  background-color: rgba(241, 223, 223, 0);
}
#login{
  background-color: #a5a1a1;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 28px;
    padding: 0 16px;
    width: 260px;
}
